<% if User.current.admin? || User.current.allowed_to?(:view_repository_deployment_credentials, @project) %>
    <h4><%= t(:label_current_deploy_credentials) %></h4>
    <%= render template: 'repository_deployment_credentials/show' %>
<% end %>

<br>

<% if User.current.admin? || User.current.allowed_to?(:create_repository_deployment_credentials, @project) %>
  <%= render template: "repository_deployment_credentials/new" %>
<% end %>